#all-product-page #product-container .shop-catagory-shop-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1, #all-product-page #product-container .shop-catagory-shop-all .section_2 {
  height: 100%;
  position: absolute;
  width: 63%;
  text-align: center;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1 .desc, #all-product-page #product-container .shop-catagory-shop-all .section_2 .desc {
  width: 460px;
  margin: auto;
  margin-top: 200px;
  color: white;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1 .desc h1, #all-product-page #product-container .shop-catagory-shop-all .section_2 .desc h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 13px;
  line-height: 40px;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1 .desc button, #all-product-page #product-container .shop-catagory-shop-all .section_2 .desc button {
  width: 200px;
  color: #456;
  background: #c4c4c4;
  border-radius: 30px;
  padding: 5px;
  border: none;
  text-align: center;
  margin-top: 30px;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1 {
  -webkit-clip-path: polygon(100% 0, 62% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 62% 100%, 0 100%, 0 0);
  background: url(https://i.ibb.co/QvXdFZV/image-6.png) no-repeat center;
  background-size: 129%;
}

#all-product-page #product-container .shop-catagory-shop-all .section_1 .desc {
  margin-right: 40%;
}

#all-product-page #product-container .shop-catagory-shop-all .section_2 {
  right: 0px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 38% 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 38% 0);
  background: url(https://i.ibb.co/yQf3h1Z/image-5.png) no-repeat center;
  background-size: 125%;
}

#all-product-page #product-container .shop-catagory-shop-all .section_2 .desc {
  margin-left: 40%;
}

@media screen and (max-width: 992px) {
  #all-product-page #product-container .shop-catagory-shop-all {
    display: block;
    height: auto;
  }
  #all-product-page #product-container .shop-catagory-shop-all .section_1, #all-product-page #product-container .shop-catagory-shop-all .section_2 {
    height: auto;
    position: static;
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  #all-product-page #product-container .shop-catagory-shop-all .section_1 .desc, #all-product-page #product-container .shop-catagory-shop-all .section_2 .desc {
    width: 100%;
    margin: 0px;
  }
  #all-product-page #product-container .shop-catagory-shop-all .section_1 .desc button, #all-product-page #product-container .shop-catagory-shop-all .section_2 .desc button {
    width: 200px;
    color: #456;
    background: #c4c4c4;
    border-radius: 30px;
    padding: 5px;
    border: none;
    text-align: center;
    margin-top: 30px;
  }
  #all-product-page #product-container .shop-catagory-shop-all .section_1 {
    -webkit-clip-path: none;
            clip-path: none;
    background: url(https://i.ibb.co/QvXdFZV/image-6.png) no-repeat center;
    background-size: 200%;
  }
  #all-product-page #product-container .shop-catagory-shop-all .section_2 {
    right: 0px;
    -webkit-clip-path: none;
            clip-path: none;
    background: url(https://i.ibb.co/yQf3h1Z/image-5.png) no-repeat center;
    background-size: 200%;
  }
}
/*# sourceMappingURL=AllProducts.css.map */